dashboard.html<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body style="text-align: center">
<h1>
    <br/><br/><br/>
    CZEŚĆ, NAZYWAM SIĘ KUBA I JESTEM TWÓRCĄ TEJ WITRYNY<br/>
    SERWIS GIEŁDA ROWEROWA STWORZONY ZOSTAŁ Z DWÓCH POWODÓW<br/>
    PIERWSZYM TO CHĘĆ NAUKI PROGRAMOWANIA W JĘZYKU JAVA.<br/>
    DRUGIM - CHĘĆ STWORZENIA NIEZALEŻNEGO MIEJSCA DO DZIELENIA SIĘ SWOJĄ PASJĄ<br/>
    SERWIS JEST OBECNIE W FAZIE ROZWOJOWEJ - PLANUJĘ WPORAWDZIĆ NASTĘPNE FUNKCJONALNOŚCI
    - WYŚWIETLANIE OGŁOSZEŃ
    - TYPY ROWERÓW - JAKO ZBIÓR W BAZIE DANYCH
    - DODAWANIE NOWYCH I KASOWANIE STARYCH OGŁOSZEŃ
    - KOMENTARZE POD OGŁOSZENIAMI
    - KONTA UŻYTKOWNIKÓW - UŻYTKOWNIK I ADMIN, SYSTEM KOMENTARZY, OZNACZANIE OGŁOSZENIA JAKO OBSERWOWANEGO
    - PRZEGLĄDANIE OGŁOSZEŃ ZGODNIE Z ŻĄDANYMI PARAMETRAMI
    - MOŻLIWOŚĆ DODAWANIA ZDJĘĆ
    - LOGOWANIE - API GOOGLEA, FACEBOOKA
    - SZYFROWANIE HASEŁ
    JAKUB GAJEWSKI 2018<br/>
    ALL RIGHTS RESERVED<br/>
    <a href="/">POWRÓT DO STRONY GŁÓWNEJ</a>

</h1>
</body>
</html>