<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <title>Dodaj akcesorium</title>
</head>
<body style="text-align: center">
<h1 th:if="${info != null}" th:text="${info}"></h1>
    <form style="width: 100%" th:action="@{/accessories/addaccessoryad}" method="post" th:object="${accessoryForm}">
        Model: <input maxlength="100" type="text" th:field="*{name}" placeholder="Nazwa">
        <br/>
        Opis: <input maxlength="1000" type="text" th:field="*{description}" placeholder="Opis">
        <br/>
        Cena: <input maxlength="1000" type="number" th:field="*{price}" placeholder="Cena">
        <br/>
        <!-- Kategoria: <input maxlength="3" type="number" th:field="*{categoryId}" placeholder="Kategoria"> -->
        <br/><br/>
        <button type="submit">Dodaj ogłoszenie</button>
    </form>
</body>
</html>