<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <meta charset="UTF-8">
    <title>GŁÓWNA</title>
</head>
<body style="text-align: center">
<h1 th:if="${userLogin != null}" th:text="'Jesteś zalogowany jako: ' + ${userLogin}"></h1>
<h1>
    SUPER NOWA GIEŁDA ROWEROWA
    <br/>
    !!!KUPUJ BEZ RYZYKA!!!
    <br/><br/>
    <a href="/bikes">Rowery</a><br/>
    <a href="/parts">Części</a><br/>
    <a href="/accesories">Akcesoria</a><br/>
    <a href="/clothes">Ubrania</a><br/>
    <a href="/userlist">Użytkownicy</a><br/>

    <br/><br/><br/>
    <button class="btn btn-primary" type="button" onclick="location.href='/login';" >Logowanie</button>
    <button class="btn btn-primary" type="button" onclick="location.href='/register';" >Rejestracja</button>

</h1>
</body>
</html>