<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>

<!--
<body style="text-align: center">
<form style="width: 100%" th:action="@{/login}" method="post" th:object="${userForm}">
    Nazwa użytkownika: <input maxlength="100" type="text" th:field="*{login}" placeholder="Nazwa użytkownika">
    <br/>
    Hasło: <input maxlength="1000" type="text" th:field="*{password}" placeholder="Hasło">
    <br/>
    <br/><br/>
    <button type="submit">Zaloguj</button>
</form>
</body>
-->
<body style="text-align: center">
<center>
    <h1 th:if="${info != null}" th:text="${info}"></h1>
</center>
<form style="width: 100%" th:action="@{/login}" method="post">
    Nazwa użytkownika: <input maxlength="100" type="text" th:name="login" placeholder="Nazwa użytkownika">
    <br/>
    Hasło: <input maxlength="1000" type="text" th:name="password" placeholder="Hasło">
    <br/>
    <br/><br/>
    <button type="submit">Zaloguj</button>
</form>
<button type="buttont" onclick="location.href='/register'">Zarejestruj</button>
</body>
</html>